@model Bakery.Models.Treat

@if (User.Identity.IsAuthenticated)
{
<h2>Add a flavor to @Model.TreatName</h2>
<br>
<div class="list">
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select a flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}
<br/>
</div>

<div class="view-nav">
<button>@Html.ActionLink("Back to Treat list", "Index")</button>
</div>
}
else
{
<h4>Hey! You're not supposed to be here!</h4>
<button>@Html.ActionLink("Go Back Home", "Index", "Home")</button>
}