@model Bakery.Models.Flavor

@if (User.Identity.IsAuthenticated)
{
<h2>Add a treat to @Model.FlavorName</h2>
<br>
<div class="list">
<br/>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.Label("Select a treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}
<br/>
</div>
<br>

<div class="view-nav">
<button>@Html.ActionLink("Back to Flavor list", "Index")</button>
</div>
}
else
{
 <h4>Hey! You're not supposed to be here!</h4>
<button>@Html.ActionLink("Go Back Home", "Index", "Home")</button>
}

