@model Bakery.Models.Flavor

@if (User.Identity.IsAuthenticated)
{
<h4>Add a new Flavor:</h4>
<br>
<div class="list">
<p>@Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FlavorName)
  @Html.TextBoxFor(model => model.FlavorName)
  <input type="submit" value="add a new Flavor" />
}
</div>
<br>
<div class="view-nav">
<button>@Html.ActionLink("Show all Flavors", "Index")</button>
</div>
}
else
{
<h4>Hey! You're not supposed to be here!</h4>
<button>@Html.ActionLink("Go Back Home", "Index", "Home")</button>
}