@model Bakery.Models.Flavor
@using Bakery.Models;
@using System.Collections.Generic;

<h1>@Model.FlavorName Treats</h1>
@if (User.Identity.IsAuthenticated)
{
    <div class="list">
        <br />
        @if (Model.JoinEntities.Count == 0)
        {
            <p>There are no @Model.FlavorName treats.</p>
        }
        else
        {
                @foreach (FlavorTreat join in Model.JoinEntities)
                {
                    <div class="item">
                    <p>@join.Treat.TreatName</p>

                    @using (Html.BeginForm("DeleteJoin", "Flavors"))
                    {
                        @Html.Hidden("joinId", @join.FlavorTreatId)
                        <input type="submit" value="Delete Treat from @Model.FlavorName" class="delete-button"/>
                    }
                    </div>
                }

        }
    </div>
    <br />
<div class="view-nav">
    <button>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId})</button>
    <button>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})</button>
   <button>@Html.ActionLink("Back to Flavor list", "Index")</button>
    <button>@Html.ActionLink("Add Treat to this Flavor", "AddTreat", new { id = Model.FlavorId})</button>
    </div>
}
else
{
    <br />
    <div class="list">
           @if (Model.JoinEntities.Count == 0)
        {
            <p>There are no @Model.FlavorName treats.</p>
        }
        else
        {
            <br/>   
                @foreach (FlavorTreat join in Model.JoinEntities)
                {
                    <h5>@join.Treat.TreatName</h5>
                }
            
        }
    </div>
    <br />
    <div class="view-nav">
    <button>@Html.ActionLink("Back to Flavor list", "Index")</button>
</div>
}