
@model Bakery.Models.Flavor

@if (User.Identity.IsAuthenticated)
{
<h2>Edit Flavor</h2>
<br>
<div class="list">
<h4>Edit @Model.FlavorName</h4>

<p>@Html.ValidationMessageFor(model => model.FlavorName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName)
  @Html.EditorFor(model => model.FlavorName)

  <input type="submit" value="Save" />
}
</div>
<br>

<div class="view-nav">
<button>@Html.ActionLink("Back to Flavor list", "Index")</button>
</div>
}
else
{
<h4>Hey! You're not supposed to be here!</h4>
<button>@Html.ActionLink("Go Back Home", "Index", "Home")</button>
}